.main {
    margin-top: 20px;
}

.articleTeaser {
    background-color: #d7d7d8;
    padding-top: 5px;
}

.article {
    background-color: white;
    border: 2px solid black;
}

.article img {
    float: left;
    height: 170px;
    margin: 5px;
}

.date {
    margin-left: 28px;
}

footer {
    text-align: center;
}

.articleTeaser a:link {
    text-decoration: none;
    color: black;
}

.articleTeaser a:visited {
    text-decoration: none;
    color: black;
}